.movies-card {
  list-style: none;
  position: relative;
  width: 359px;
}
.movies-card:hover .movies-card__btn_status_not-checked {
  display: flex;
}
.movie-card__img {
  width: 100%;
  height: 201px;
  border-radius: 6px;
}
.movies-card__btn_status_not-checked,
.movies-card_close {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #F9F9F9;
  border-radius: 30px;
  font-size: 10px;
  line-height: 9px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 21px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.movies-card:hover .movies-card_close {
  border-radius: 50%;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../images/dislike.svg');
  font-size: 0;
  width: 20px;
  display: flex;
  height: 20px;
}
.movies-card__btn_status_checked,
.movies-card__btn_status_checked:disabled {
  width: 21px;
  height: 21px;
  background: url('../../images/checkmark.svg');
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 0;
  border: none;
  cursor: pointer;
}
.movies-card__btn_status_checked:disabled {
  cursor: default;
}
.movies-card__invisible {
  display: none;
}
.movie-card__title {
  margin: 0;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.movie-card__duration {
  margin: 0;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  color: #A0A0A0;
  width: 52px;
  height: 18px;
  background-color: #F9F9F9;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-card__info {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px 0 14px;
}

@media screen and (max-width: 768px) {
  .movies-card {
    width: 341px;
  }
  .movie-card__img {
    height: 192px;
  }
  .movie-card__info {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .movies-card__btn_status_not-checked,
  .movies-card__btn_status_checked {
    top: 10px;
    right: 10px;
  }
  .movie-card__info {
    padding: 0;
    padding-top: 12px;
  }
  .movie-card__title {
    font-size: 12px;
    line-height: 15px;
  }
  .movie-card__img {
    height: 168px;
  }
  .movies-card .movies-card_close {
    background: #F9F9F9;
    border-radius: 50%;
    border: none;
    font-size: 0;
    width: 20px;
    display: flex;
    height: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../images/dislike.svg');
  }
  .movies-card__btn_status_not-checked {
    display: flex;
  }
}