.about-project {
  padding: 110px 70px 141px;
}
.component__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}
.about-project__description {
  display: flex;
  column-gap: 50px;
  margin-bottom: 110px;
}
.description__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 68px 0 26px;
}
.description__text {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 100%;
}
.about-project__duration {
  display: grid;
  grid-template-columns: 20% auto;
  height: 36px;
}
.about-project__duration_color_green,
.about-project__duration_color_grey {
  background-color: #2BE080;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 17px;
}
.about-project__duration_color_grey {
  background-color: #F2F2F2;
}
.about-project__duration_color_green::after,
.about-project__duration_color_grey::after {
  content: "Back-end";
  display: block;
  top: 52px;
  color: #A0A0A0;
  position: absolute;
}
.about-project__duration_color_grey::after {
  content: "Front-end";
}

@media screen and (max-width: 768px) {
  .about-project__description {
    margin-bottom: 92px;
    column-gap: 37px;
  }
  .about-project {
    padding: 90px 50px 122px;
  }
  .about-project__section {
    max-width: 319px;
  }
  .description__title {
    margin: 69px 0 23px;
  }
  .about-project__duration {
    grid-template-columns: 21% auto;
  }
  .description__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 520px) {
  .about-project {
    padding: 70px 18px 72px;
  }
  .about-project__description {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .about-project__duration {
    grid-template-columns: 35% auto;
  }
  .about-project__duration_color_green,
  .about-project__duration_color_grey {
    font-size: 11px;
    line-height: 13px;
  }
  .component__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
  .description__title {
    font-size: 18px;
    line-height: 22px;
    margin: 60px 0 14px;
  }
  .description__text {
    font-size: 11px;
    line-height: 16px;
  }
  .about-project__duration_color_green::after,
  .about-project__duration_color_grey::after {
    top: 45px;
  }
}